.table thead th {
    vertical-align: bottom;
    border-bottom: 0px solid #dee2e6 !important;
}

.table tbody + tbody {
    border-top: 0px solid #dee2e6 !important;
}
.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 0px solid #dee2e6 !important;
}
  